body {
    font-family: Arial, sans-serif;
}
.bar text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: middle;
}

  /* Centering the chart div with Flexbox */
  #chart-container {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering if needed */
    height: 100vh; /* Full viewport height for vertical centering */
  }

  #chart {
    width: 100%; /* Ensure the chart doesn't overflow */
    max-width: 900px; /* Set a max width for the chart container */
  }
