* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling for the body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #000000;
}
.container {
    max-width: 800px;
    background: #fff;
    padding: 20px;
    margin: 50px auto 0 auto; /* Auto margin for horizontal centering, margin-top to space from nav */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1, h2, h3 {
    color: #333;
    margin-bottom: 20px;
}

p {
    text-align: justify;
    margin-bottom: 15px;
    color: #000000;
}

.highlight {
    color: #d9534f; /* Highlight important content in red */
}

.bibliography {
    text-align: left;
    margin-top: 30px;
}

.bibliography h3 {
    text-align: center;
}

.bibliography ul {
    list-style-type: none;
    color:#000000;
}

.bibliography ul li {
    margin-bottom: 10px;
}
