body {
    font-family: Arial, sans-serif;
}
.map path {
    stroke: #000;
    stroke-width: 0.5px;
    fill: #ccc;
}
.map path:hover {
    fill: #f00;
}
.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: auto;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}